<div class="banner">
   <div class="content">
   <h1 class="mb-5">Game Mania 10 anos com você! <br> Produtos e atendimento de qualidade. </h1>
   <a routerLink="menu">Ver produtos <i class="bi bi-arrow-right"></i></a>
</div>
</div>

<div class="container mt-5 mb-4">
   <h1 class="text-center">APROVEITE</h1>

  <div class="row">

    <div class="col-lg-4">
    <div class="Box">
         <h1><img src="../../../assets/img/Rectangle 25frete.png" alt=""></h1>
         <p>Frete gratis para todo Sudeste, demais regiões consultar</p>
      </div>
    </div>

      <div class="col-lg-4">
      <div class="Box">
         <h1><img src="../../../assets/img/Rectangle 27boleto.png" alt=""></h1>
         <p>10% Desconto PIX/Boleto/Depósito</p>
      </div>
    </div>
      

    <div class="col-lg-4">
    <div class="Box">
         <h1><img src="../../../assets/img/Rectangle 26cartao.png" alt=""></h1>
         <p>10x sem juros no cartão de credito</p>
      </div>
    </div>
  </div>
</div>

<div class="destaque">
<h1>DESTAQUES DA SEMANA</h1>
</div>

<section class="secao-anuncio container">
<div class="card" style="width: 18rem;">
   <img src="../../../assets/img/fifa.png" class="card-img-top" alt="Jogo Fifa">
   <div class="card-body">
     <h5 class="card-title">Fifa 22</h5>
     <p class="card-text">Playstation 5</p>
       <p>R$ 199,99</p>
       <p>10% desconto via boleto/pix/depósito.</p>
     <a routerLink="menu" class="btn btn-primary">Comprar</a>
     
   </div>
 </div>

 <div class="card" style="width: 18rem;">
   <img src="../../../assets/img/pc gamer.png" class="card-img-top" alt="Pc Gamer">
   <div class="card-body">
     <h5 class="card-title">PC Gamer U1</h5>
     <p class="card-text">Ryzen 5 - Radeon Vega 11 8GB DDR4 - SSD 240GB</p>
       <p>R$ 2.199,00</p>
       <p>10% desconto via boleto/pix/depósito.</p>
     <a routerLink="menu" class="btn btn-primary">Comprar</a>
   </div>
 </div>

 <div class="card" style="width: 18rem;">
   <img src="../../../assets/img/estojo.png" class="card-img-top" alt="estojo">
   <div class="card-body">
     <h5 class="card-title">Estojo de Transporte</h5>
     <p class="card-text">para Switch - Azul</p>
       <p>R$ 79,99</p>
       <p>10% desconto via boleto/pix/depósito.</p>
     <a routerLink="menu" class="btn btn-primary">Comprar</a>
   </div>
 </div>
</section>
<div class="veranuncios">
<a routerLink="menu">Ver todos <i class="bi bi-arrow-right"></i></a>
</div>


